doctype html
html
    head
        title Contact Us
        include header.pug
        include navbar.pug
        h1 Contact Us
        #form
            form(action='/contact' method='post')
                label(for='name') Name:
                input#name(type='text' name='name')
                br
                label(for='email') Email:
                input#email(type='email' name='email')
                br
                label(for='date') Preferred Date:
                input#date(type='date' name='date')
                br
                label(for='department') Department:
                select#department(name='department')
                    option(value='general') General Inquiry
                    option(value='billing') Billing
                    option(value='appointments') Appointments
                    option(value='feedback') Feedback
                br
                label(for='subscribe') Receive a lot of junk emails:
                input#subscribe(type='checkbox' name='subscribe')
                br
                input(type='submit' value='Submit')
                p#characters