doctype html
html
    head
        title Main Page
        include header.pug
        include navbar.pug
        h1 Twitter
        p Welcome to Twitter because it's available now.
        p To get started click on the Recent Posts tab above or post a new tweet of your own.